body {
    background-color:rgba(241, 241, 10, 0.37);
    color:rgb(128,0,32);
    z-index:5;
}
h3 {
    font-size:3em;
}
p {
    font-size:large;
}
#FJTitle {
    background-color:rgb(128,0,32);
    color:aliceblue;
    text-align:center;
    padding-top:6px;
    padding-bottom:1em;
    margin-bottom:12px;
    border-bottom:5px;
    border-color:black;
    border-style:outset;
    z-index:5;
    font-family:serif;
}
.tabs {
    position:sticky;
    top:106px;
    left:20px;
    margin-left:10%;
    padding:3px;
    padding-left:1em;
    padding-right:1em;
    border-width:2px;
    border-style:dashed;
    top:auto;
}
.tabs:hover {
    color:rgb(223, 42, 42);
    background-color:coral;
}
.tabs:active {
    color:aquamarine;
    background-color:darkviolet;
}
#personIcon {
    position:absolute;
    left:97%;
    width:40px;
}
#personIcon:hover {
    background-color:green;
}