body {
    background-color: rgba(241, 241, 10, 0.37);
    color: rgb(128, 0, 32);
    z-index: 5;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size:20px;
}
h3 {
    font-size: 3em;
}
.FJTitle {
    background-color: rgb(128, 0, 32);
    color: aliceblue;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 1em;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 5px;
    border-color: black;
    border-style: outset;
    z-index: 5;
    font-family: serif;
}

.dropbox {
    background-color: darkred;
    color: white;
    z-index: 6;
    top: 130px;
    text-align: center;
    top: calc(initial + 4em);
    width: 240px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-left: 1%;
    margin-bottom: 1em;
    border-color: darkblue;
    border-style: groove;
    border-width: 1px;
}

/*#rectangle { 
    position:absolute;
    background-color:blue;
    overflow-x:hidden;
    width:99%;
    height:40em;
    z-index: 1;
    opacity:0.78;
}*/
.tabs {
    background-color: rgb(241, 241, 10);
    position: sticky;
    top: 100px;
    left: 20px;
    margin-left: 7%;
    padding: 3px;
    padding-left: 1em;
    padding-right: 1em;
    border-width: 2px;
    border-style: dashed;
    top: auto;
    color: rgb(128, 0, 32);
    text-decoration-line: none;
}

.tabs:hover {
    color: rgb(223, 42, 42);
    background-color: coral;
}

.tabs:active {
    color: aquamarine;
    background-color: darkviolet;
}

#FT {
    background-color: white;
    text-align: center;
    padding: 1px;
    margin-top: 50px;
    margin-bottom: 40em;
}

.fourTab {
    background-color: dodgerblue;
    color: khaki;
    font-size: 22px;
    ;
    padding: 20px;
    padding-left: 29px;
    padding-right: 29px;
    margin-left: 3px;
    margin-right: 3px;
}

#personIcon {
    position: absolute;
    left: 97%;
    width: 40px;
}

#personIcon:hover {
    background-color: green;
}

/*Bottom Of Page*/
#BOP {
    line-height: 40px;
    background-color: darkred;
    color: white;
    text-align: center;
    padding: auto;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10em;
}

#backToPg {
    position: absolute;
    background-color: rgb(53, 53, 70);
    color: rgba(126, 126, 223, 0.623);
    text-decoration-line: none;
    top: 0px;
    left: 0px;
}
.fourTab:hover {
    background-color:rgb(85, 149, 202);
    color:indigo;
    margin-left:5px;
    margin-right:5px;
}
.fourTab:active {
    background-color:rgb(76, 132, 179);
    color:black;
}
.BOPclb:hover {
    color:rgb(253, 208, 150);
}
/*
page2 HERE
*/
#leafPic {
    width: 224px;
    position: absolute;
    top: 230px;
}

#paragraph {
    background-color: greenyellow;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    position: absolute;
    font-size: 2em;
    top: 460px;
    margin: 2px;
    width: 240px;
    height: 285px;
    padding-left: 7px;
}
.para {
    font-size:25px;
}
#bigLettering {
    font-size: 1em;
    position: relative;
    left: 250px;
    float: left;
}

#volleySPic {
    position: absolute;
    left: 70%;
    top: 500px;
    width: 28%;
    border-style: groove;
    border-color: darkorchid;
    border-width: 3px;
}

#infoVB {
    background-color: rgb(201, 111, 84);
    font-size:30px;
    color: maroon;
    position: absolute;
    top: 660px;
    left: 240px;
    width: 48%;
    padding-left: 5px;
    margin-left: 1em;
    border-style: solid;
    border-width: 5px;
    border-color: azure
}

#fakeLink {
    color: rgb(71, 71, 187);
    text-decoration-line: underline;
}
#fakeLink {
    color: rgb(25, 25, 63);
}
#BGimg {
    top: 110px;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: -2;
    opacity: 50%;
}

#list {
    margin-top: 10px;
    background-color: rgb(208, 236, 192);
    font-size: 22px;
    opacity: 0.9;
}

#list>li {
    font-weight: bold;
}

#list>p {
    text-indent: 10px;
}

#curEv {
    font-weight: normal;
    text-decoration-line: underline;
    font-style: oblique;
}

#buMore {
    text-align: center;
    text-decoration-line: underline;
    font-weight: 1000;
    font-style: oblique;
    color: grey;
    padding-left: 0;
    margin-left: 0;
}

#buMore:hover {
    background-color: blue;
    color: white;
}

#buMore:active {
    background-color: rgb(127, 127, 238);
    color: darkkhaki;
}

#backToPg {
    position: absolute;
    background-color: rgb(53, 53, 70);
    color: rgba(126, 126, 223, 0.623);
    text-decoration-line: none;
    top: 0px;
    left: 0px;
}
#htcu {
    text-decoration-line:underline;
}
/*Left fixed box on Volleyball page(Page 2)*/
#boxLeftVolley {
    background-color:rgb(231, 157, 152);
    position:fixed;
    height:100%;
    width:250px;
    z-index:-1
    padding-top:1em;
    border-width:0px;
}
#dropboxPg2 {
    font-size:20px;
    position: absolute;
    top: 330px;
    left: 70%;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*page 3*/
pp3 {
    font-size:1.5em;
}
#IP>p {
    font-size: 2em;
    background-color: white;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#mathPic {
    float: left;
    width: 600px;
    border-width: 1px;
    border-style: double;
    border-color: blue;
    padding: 1px;
    margin: 10px;
}

#infoMath {
    text-align: right;
    margin-top: 100px;
    margin-bottom: 500px;
}

#melnik {
    float: right;
    width: 600px;
    border-style: dotted;
    border-color: blueviolet;
    border-width: 2px;
    margin-left: 7px;
    margin: 10px;
}

